[run]
source =
    forward_netbox
omit =
    */tests/*
    */migrations/*

[paths]
source =
    forward_netbox
    /source/forward_netbox
    */site-packages/forward_netbox

[report]
show_missing = True
