.git
.gitignore
.cache
.ruff_cache
.pytest_cache
.mypy_cache
.tox
.nox
.coverage
htmlcov

.venv
.venv-*
.build-venv
.ci-venv
__pycache__
*.py[cod]

node_modules
site
dist
build
*.egg-info

.playwright-artifacts
.forward-netbox-reports
output

development/logs
*.log
