{% extends 'generic/object_list.html' %}
{% load i18n %}

{% block title %}Forward NQE Map{% endblock %}

{% block extra_controls %}
  {% if perms.forward_netbox.add_forwardnqequery %}
    <a href="{% url 'plugins:forward_netbox:forwardnqequery_restore' %}"
       hx-get="{% url 'plugins:forward_netbox:forwardnqequery_restore' %}"
       hx-target="#htmx-modal-content"
       data-bs-toggle="modal"
       data-bs-target="#htmx-modal"
       class="btn btn-warning">
      <i class="mdi mdi-restore" aria-hidden="true"></i> {% trans "Restore" %}
    </a>
  {% endif %}
{% endblock %}
