{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load i18n %}

{% block extra_controls %}
  {% if perms.forward_netbox.run_forwardsync %}
    {% if object.ready_for_sync %}
      <form action="{% url 'plugins:forward_netbox:forwardsync_run' pk=object.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
          <i class="mdi mdi-sync" aria-hidden="true"></i>&nbsp;{% trans "Adhoc Ingestion" %}
        </button>
      </form>
    {% else %}
      <span class="inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-delay="100" data-bs-placement="bottom">
        <button class="btn btn-primary" disabled>
          <i class="mdi mdi-sync" aria-hidden="true"></i>&nbsp;{% trans "Adhoc Ingestion" %}
        </button>
      </span>
    {% endif %}
  {% endif %}
{% endblock extra_controls %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">{% trans "Sync Information" %}</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Name" %}</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Source" %}</th>
            <td><a href="{{ object.source.get_absolute_url }}">{{ object.source.name }}</a></td>
          </tr>
          <tr>
            <th scope="row">{% trans "Status" %}</th>
            <td>{{ object.get_status_display }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Last synced" %}</th>
            <td>{{ object.last_synced|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Latest ingestion" %}</th>
            <td>
              {% if object.last_ingestion %}
                <a href="{{ object.last_ingestion.get_absolute_url }}">{{ object.last_ingestion.name }}</a>
              {% else %}
                {{ ""|placeholder }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Network" %}</th>
            <td>{{ object.get_network_id|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Snapshot Selection" %}</th>
            <td>{{ object.get_snapshot_id|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Schedule" %}</th>
            <td>{{ object.scheduled|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Interval" %}</th>
            <td>{{ object.interval|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "User" %}</th>
            <td>{{ object.user|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Auto merge" %}</th>
            <td>{{ object.auto_merge|yesno:"Yes,No" }}</td>
          </tr>
        </table>
      </div>
    </div>
    {% include 'inc/panels/tags.html' %}
    {% plugin_left_page object %}
  </div>
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">{% trans "Enabled Models" %}</h5>
      <div class="card-body">
        {% if enabled_models %}
          <ul class="list-group list-group-flush">
            {% for model_string in enabled_models %}
              <li class="list-group-item ps-0">{{ model_string }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <span class="text-muted">{% trans "No models selected" %}</span>
        {% endif %}
      </div>
    </div>
    <div class="card">
      {% include 'extras/inc/configcontext_data.html' with title="Parameters" data=object.get_display_parameters format="json" copyid="forward-sync-parameters" %}
    </div>
    {% include 'inc/panels/custom_fields.html' %}
    {% plugin_right_page object %}
  </div>
</div>
{% endblock %}
